@import "../../shared/helper";

.header-wrapper {
  height:60px;
  border-bottom-left-radius: 200px;
  border-bottom-right-radius: 200px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 28px;
  //background: #0731a7;
  color:white;
  background: #0a2e9e;
  background: -moz-linear-gradient(left, #060756 0%, #0E3EAC 50%, #060756 100%);
  background: -webkit-linear-gradient(left, #060756 0%, #0E3EAC 50%, #060756 100%);
  background: linear-gradient(to right, #060756 0%, #0E3EAC 50%, #060756 100%);
}