@import "../../shared/helper";

.header-wrapper {
  height:60px;
  border-bottom-left-radius: 200px;
  border-bottom-right-radius: 200px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 28px;
  background: #0c2e9a;
  color:white;
}