@import "../shared/helper";

.wrapper {
  display: flex;
  flex-direction: column;
  height: 100%;

  > main {
    flex: 1;
    padding: px(20);
    display: grid;
    grid-row-gap: px(18);
    grid-column-gap: px(12);
    grid-template-columns:1.3fr 1.4fr 1.5fr 0.8fr 0.8fr;
    grid-template-rows: 1fr 1fr 1.1fr 1.4fr;
    grid-template-areas:
    'box1 box2 box2 box3 box4'
    'box1 box2 box2 box3 box5'
    'box6 box7 box8 box9 box9'
    'box6 box7 box10 box11 box11';

    > section{
      text-align: center;
      color:white;
      border-radius: px(4);
      border:2px solid #0581fe;
      position: relative;
      box-shadow: 0 0 2px 0 #0f3361,inset 0 0 2px 0 #0f3361;
      //background: #100a4a;
      background: #fff1d6;
      &::before{
        content:'';
        position: absolute;
        left:0;
        top:0;
        right:0;
        bottom:0;
        border-radius: 4px;
        box-shadow:
                22px 0 0 -20px #0f3361,
                -22px 0 0 -20px #0f3361,
                0 22px 0 -20px #0f3361,
                0 -22px 0 -20px #0f3361,
                12px 0 0 -10px #0d4483,
                0 12px 0 -10px #0d4483,
                0 -12px 0 -10px #0d4483,
                -12px 0 0 -10px #0d4483,;
      }
    }
    > .section1 {
      grid-area: box1;
      display: flex;
      flex-direction: column;
      > h2{
        color:black;
        border:2px solid #0a5299;
        display: inline-block;
        border-bottom-left-radius: 4px;
        border-bottom-right-radius: 4px;
        padding:px(6);
        font-size: px(20);
        line-height: px(20);
        text-shadow: 0 0 px(3) white;
      }
      > .chart{
        flex: 1;
        border:2px solid red;
      }
    }

    > .section2 {
      grid-area: box2;
    }

    > .section3 {
      grid-area: box3;
      @extend .section1
    }

    > .section4 {
      grid-area: box4;
      @extend .section1
    }

    > .section5 {
      grid-area: box5;
      @extend .section1
    }

    > .section6 {
      grid-area: box6;
      @extend .section1
    }

    > .section7 {
      grid-area: box7;
      @extend .section1
    }

    > .section8 {
      grid-area: box8;
      @extend .section1
    }

    > .section9 {
      grid-area: box9;
      @extend .section1
    }

    > .section10 {
      grid-area: box10;
      @extend .section1
    }

    > .section11 {
      grid-area: box11;
      @extend .section1
    }
  }
}
